<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/b9ea69a5-4c3f-49e1-9fea-30145415316f/resourcegroups/DemoDevOps/providers/Microsoft.Web/sites/Backend-API20180902105459</ResourceId>
    <ResourceGroup>DemoDevOps</ResourceGroup>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://backend-api20180902105459.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/b9ea69a5-4c3f-49e1-9fea-30145415316f/resourceGroups/DemoResources/providers/Microsoft.ContainerRegistry/registries/GriffsDemoContainerRegistry</ContainerResourceId>
    <ContainerResourceName>GriffsDemoContainerRegistry</ContainerResourceName>
    <Subscription>Microsoft Azure Internal Consumption</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://griffsdemocontainerregistry.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>574cc19e-8dfd-436c-97f2-2961d3433f49</ProjectGuid>
  </PropertyGroup>
</Project>